html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;

  color: rgb(0, 25, 51);
  font-weight: 600

}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}


.flex {
  display: flex
}

.flex-col {
  flex-direction: column
}

.jc-center {
  justify-content: center
}
.jc-end {
  justify-content: flex-end
}

.ai-center {
  align-items: center
}
.ai-stretch {
  align-items: stretch
}

.grow-1 {
  flex-grow: 1
}
.grow-3 {
  flex-grow: 3
}

.shrink-1 {
  flex-shrink: 1
}

.basis-10 {
  flex-basis: 10px
}
.basis-30 {
  flex-basis: 30px
}

.h-screen {
  height: 100vh
}
.w-screen {
  width: 100vw
}

.w-full {
  width: 100%
}
.min-h-500 {
  min-height: 500px
}

.max-h-750 {
  max-height: 750px
}

.pr1 {
  padding-right: 0.25rem;
}

.px3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.overflow-auto {
  overflow: auto
}

.break-keep {
  word-break: keep-all
}

.pointer {
  cursor: pointer
}

:root {
  --color-red: palevioletred;
  --color-yellow: palegoldenrod;
  --color-green: #d7ffd7;
  --color-blue: paleturquoise;
  --color-darkgreen: #003514;
  --color-darkred: #8d0119;
  --color-darkyellow: #6e5c00;
  --color-darkblue: #003252;
  --color-darkorange: #8f2600;
}

.bgc-red {
  background-color: var(--color-red)
}
.bgc-yellow {
  background-color: var(--color-yellow)
}
.bgc-green {
  background-color: var(--color-green)
}
.bgc-blue {
  background-color: var(--color-blue)
}

.darkred {
  color: var(--color-darkred)
}
.darkyellow {
  color: var(--color-darkyellow)
}
.darkgreen {
  color: var(--color-darkgreen)
}
.darkblue {
  color: var(--color-darkblue)
}
.darkorange {
  color: var(--color-darkorange)
}